@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')
	;

:root {
	--color-primary: #679E98;
}

* {
	box-sizing: border-box;
	font-family: "Be Vietnam Pro", sans-serif;
}

body {
	margin: 0;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

input {
	outline: none;
}

/* Container */
.container {
	width: 1184px;
	margin-left: auto;
	margin-right: auto;
}

@media ( max-width : 1199.98px) {
	.container {
		width: 960px;
	}
}

@media ( max-width : 991.98px) {
	.container {
		width: 720px;
	}
}

@media ( max-width : 767.98px) {
	.container {
		width: 540px;
	}
}

@media ( max-width : 575.98px) {
	.container {
		width: 100%;
		padding: 0 16px;
	}
}

/* Top Hearder */
.top-header {
	width: 100%;
	height: 240px;
}

/* End Top Hearder */

/* Hearder */
.header {
	padding: 12px 0;
	background-color: #FFFFFF;
	top: 0;
	left: 0;
	width: 100%;
	position: sticky;
}

.header .inner-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.header .inner-logo img {
	height: 50px;
	width: auto;
}

.header .inner-menu ul {
	display: inline-flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 40px;
}

.header .inner-menu>ul>li {
	position: relative;
}

.header .inner-menu>ul>li>a {
	font-weight: 500;
	font-size: 16px;
	color: #25282B;
}

.header .inner-menu>ul>li>a.active, .header .inner-menu>ul>li>a:hover {
	color: var(--color-primary);
}

.header .inner-menu>ul>li>a.active:hover {
	color: #25282B;
}

.header .inner-menu>ul>li>ul {
	position: absolute;
	margin: 0;
	padding: 8px 0;
	list-style: none;
	background-color: #FFFFFF;
	width: 280px;
	border-radius: 0 0 10px 10px;
	top: 100%;
	left: 0;
	z-index: 999;
	display: none;
}

.header .inner-menu>ul>li:hover>ul {
	display: block;
}

.header .inner-menu>ul>li>ul>li>a {
	display: block;
	padding: 8px 22px;
	font-weight: 400;
	font-size: 16px;
	color: var(--color-primary);
}

.header .inner-menu>ul>li>ul>li>a.active, .header .inner-menu>ul>li>ul>li>a:hover
	{
	background-color: var(--color-primary);
	color: #FFFFFF;
}

.header .inner-form {
	display: flex;
	gap: 5px;
	padding: 0;
}

.header .inner-form .inner-search .inner-input {
	border-radius: 18px;
	height: 30px;
	width: 180px;
	border: 1px solid #A1A1A1;
	padding: 5px;
}

.header .inner-form .inner-button {
	background: var(--color-primary);
	border-radius: 18px;
	gap: 5px;
	display: flex;
	border: 1px solid #A1A1A1;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
}

.header .inner-form .inner-button i {
	font-size: 20px;
}

.header .inner-form .inner-button:hover {
	color: #25282B;
}

.header .inner-menu-mobile {
	display: none;
}

@media ( max-width : 1199.98px) {
	.header .inner-menu ul {
		gap: 15px;
		font-size: 10px;
	}
}

@media ( max-width : 991.98px) {
	.header .inner-menu {
		display: none;
	}
	.header .inner-menu-mobile {
		display: inline-block;
		font-size: 22px;
		color: #25282B;
		background-color: transparent;
		border: 0;
		cursor: pointer
	}
}

@media ( max-width : 374.98px) {
	.header .inner-wrap {
		gap: 5px;
	}
}
/* End Hearder */

/* Section 1 */
.section-1 .inner-wrap {
	display: grid;
	grid-template-columns: 628fr 327fr;
	gap: 20px;
	padding: 10px;
	margin-top: 20px;
	background-color: #FFFFFF;
}

/* inner-left */
.inner-left .box-new {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.inner-left .box-new .inner-item-1 {
	grid-column: 1/-1;
	width: 790px;
	height: 500px;
	overflow: hidden;
	border-bottom: 1px solid #EEEEEE;
}

.inner-left .box-new .inner-item-1 .inner-image {
	width: 100%;
	aspect-ratio: 790/397;
}

.inner-left .box-new .inner-item .inner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: transform 0.3s ease;
}

.box-new .inner-item .inner-title a {
	color: #292929;
}

.box-new .inner-item:hover .inner-title a {
	color: var(--color-primary);
}

.box-new .inner-item:hover .inner-image img {
	transform: scale(1.1);
}
/* End inner-left */

/* inner-right */
.inner-right .box-right {
	padding: 10px;
}

.inner-right .box-right .inner-item {
	display: flex;
	align-items: center;
	gap: 12px;
	border-bottom: 1px solid #EEEEEE;
}

.inner-right .box-right .inner-item .inner-image {
	width: 80px;
	aspect-ratio: 80/80;
	overflow: hidden;
	border-radius: 8px;
}

.inner-right .box-right .inner-item .inner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.inner-right .box-right .inner-item .inner-title {
	flex: 1;
}

.inner-right .box-right .inner-item:hover .inner-title {
	color: var(--color-primary);
}

@media ( max-width : 1199.98px) {
	.inner-right .box-right {
		display: none;
	}
}

/* End inner-right */
/* End Section 1 */

/* section-2 */
.section-2 .inner-wrap {
	display: grid;
	grid-template-columns: 628fr 327fr;
	gap: 20px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.inner-left .inner-box {
	border-bottom: 1px solid #EEEEEE;
}

.inner-left .inner-box .inner-item {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 10px;
}

.inner-left .inner-box .inner-item .inner-image {
	width: 155px;
	aspect-ratio: 155/100;
	overflow: hidden;
	border-radius: 8px;
}

.inner-left .inner-box .inner-item .inner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.inner-left .inner-box .inner-item .inner-image:hover img {
	transform: scale(1.1);
}

.inner-left .inner-box .inner-item .inner-title {
	flex: 1;
}

.inner-left .inner-box .inner-item:hover .inner-title {
	color: var(--color-primary);
}

.inner-right-2 {
	margin-left: 20px;
	background-color: #F7F7F7;
	gap: 20px;
	border-radius: 8px;
}

.inner-right-2 .inner-item {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 10px;
}

.inner-right-2 .inner-item .inner-image {
	width: 375px;
	aspect-ratio: 375/330;
	overflow: hidden;
	border-radius: 8px;
}

.inner-right-2 .inner-item .inner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 20px;
}

@media ( max-width : 991.98px) {
	.inner-right-2 {
		display: none;
	}
}
/* End section-2 */

/* section-3 */
.section .inner-wrap {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section .inner-wrap .inner-head {
	color: #DB562B;
	font-size: 700;
	font-weight: 12px;
}

.section .inner-wrap .inner-item {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 10px;
}

.section .inner-wrap .inner-item .inner-image {
	width: 155px;
	aspect-ratio: 155/100;
	overflow: hidden;
	border-radius: 8px;
}

.section .inner-wrap .inner-item .inner-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.section .inner-wrap .inner-item .inner-image:hover img {
	transform: scale(1.1);
}

.section .inner-wrap .inner-item:hover .inner-title {
	color: var(--color-primary);
}
/* End section-3 */

/* Footer */
.footer {
	background-color: #F7F7F7;
	padding: 40px 0 20px 0;
}

.footer .inner-top {
	background-color: var(--color-primary);
	border-radius: 4px;
	padding: 20px;
	display: flex;
	gap: 8px;
	align-items: center;
	margin-bottom: 40px;
}

.footer .inner-top .inner-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	color: #FFFFFF;
	width: 400px;
	text-transform: capitalize;
}

.footer .inner-top .inner-form {
	background-color: #F7F7F7;
	border-radius: 4px;
	padding: 12px;
	flex: 1;
	display: flex;
	gap: 12px;
}

.footer .inner-top .inner-form input {
	flex: 1;
	height: 45px;
	padding: 0 28px;
	border: 1px solid #A1A1A1;
	font-weight: 500;
	font-size: 14px;
}

.footer .inner-top .inner-form button {
	background-color: var(--color-primary);
	color: #FFFFFF;
	font-weight: 500;
	font-size: 14px;
	border-radius: 4px;
	text-align: center;
	justify-content: center;
	border: 1px solid #A1A1A1;
	cursor: pointer;
}

.footer .inner-middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.footer .inner-middle .inner-link ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 40px;
	text-align: center;
}

.footer .inner-middle .inner-link a {
	font-weight: 500;
	font-size: 14px;
	color: #25282B;
}

.footer .inner-middle .inner-link a:hover {
	color: var(--color-primary);
}

.footer .inner-middle .inner-socials ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 40px;
}

.footer .inner-middle .inner-socials a {
	font-weight: 500;
	font-size: 20px;
	color: #25282B;
}

.footer .inner-middle .inner-socials a:hover {
	color: var(--color-primary);
}

.footer .inner-bottom {
	padding-top: 40px;
	border-top: 1px solid #25282B;
	display: flex;
	justify-content: center;
}

.footer .inner-bottom .inner-copyright {
	flex: 1;
}

.footer .inner-bottom .inner-logo img {
	height: 50px;
	width: auto;
}

@media ( max-width : 991.98px) {
	.footer .inner-top {
		padding: 10;
	}
	.footer .inner-middle .inner-link ul {
		gap: 10 px;
	}
	.footer .inner-middle .inner-socials ul {
		gap: 10px;
	}
	@media ( max-width : 767.98px) {
		.footer .inner-middle .inner-link ul {
			gap: 10px;
		}
	}
}
/* End Footer */